{"strategy":"Simple","degree":20,"num_advice":10,"num_lookup_advice":1,"num_fixed":1,"lookup_bits":18,"limb_bits":90,"num_limbs":3,"num_aggregation":576,"num_origin":8192}
{"strategy":"Simple","degree":20,"num_advice":10,"num_lookup_advice":1,"num_fixed":1,"lookup_bits":18,"limb_bits":90,"num_limbs":3,"num_aggregation":755,"num_origin":8192}
{"strategy":"Simple","degree":20,"num_advice":10,"num_lookup_advice":1,"num_fixed":1,"lookup_bits":18,"limb_bits":90,"num_limbs":3,"num_aggregation":769,"num_origin":16384}
{"strategy":"Simple","degree":20,"num_advice":10,"num_lookup_advice":1,"num_fixed":1,"lookup_bits":18,"limb_bits":90,"num_limbs":3,"num_aggregation":1129,"num_origin":16384}
{"strategy":"Simple","degree":20,"num_advice":10,"num_lookup_advice":1,"num_fixed":1,"lookup_bits":18,"limb_bits":90,"num_limbs":3,"num_aggregation":1865,"num_origin":16384}