{"strategy":"Simple","degree":18,"num_advice":6,"num_lookup_advice":1,"num_fixed":1,"lookup_bits":17,"limb_bits":90,"num_limbs":3,"num_aggregation":32,"num_origin":512}
{"strategy":"Simple","degree":18,"num_advice":6,"num_lookup_advice":1,"num_fixed":1,"lookup_bits":17,"limb_bits":90,"num_limbs":3,"num_aggregation":64,"num_origin":512}
{"strategy":"Simple","degree":18,"num_advice":6,"num_lookup_advice":1,"num_fixed":1,"lookup_bits":17,"limb_bits":90,"num_limbs":3,"num_aggregation":128,"num_origin":512}
{"strategy":"Simple","degree":18,"num_advice":6,"num_lookup_advice":1,"num_fixed":1,"lookup_bits":17,"limb_bits":90,"num_limbs":3,"num_aggregation":256,"num_origin":512}
{"strategy":"Simple","degree":18,"num_advice":6,"num_lookup_advice":1,"num_fixed":1,"lookup_bits":17,"limb_bits":90,"num_limbs":3,"num_aggregation":384,"num_origin":512}
